@model IEnumerable<ThreeBits.Security.Portal.SECURITYWCF.PermisoXSubmenuBE>
@{

    Layout = null;

}

<script>
  
    $(document).ready(function () {
  
    
        $(".btnEditSubMenu").click(function (eve) {
            var url = '@Url.Action("EditSubMenu", "Roles")';
            url += '/?IdAplicacion=' + $("#IdAplicacion").val() + '&IdSubMenu=' + $(this).data("id") + '&IdMenu=' + $(this).data("id2");

                $('#mdlTitle').text("Editar SubMenu");
                $('#modal-content').load(url);
                $('#mdlRol').modal('show');
        });
    
    });
    </script>

<table id='tblSubMenus' name='tblSubMenus' class='table table-striped table-info' role='grid' style='width: 982px;'>
    <thead>
        <tr>
            <th>ID</th>
            <th>SUBMENU</th>
            <th>URL</th>
            <th>TOOLTIP</th>
            <th>ICONO</th>
            <th>ORDEN</th>
            <th>ACTIVO</th>
            <th>ACCIONES</th>
        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IDPERMISOSXSUBMENU</td>
            <td>@item.NOMBRESUBMENU</td>
            <td>@item.URL</td>
            <td>@item.TOOLTIP</td>
            <td>@item.IMAGEN</td>
            <td>@item.TOOLTIP</td>
            <td>@item.ACTIVO</td>
            <td>
                <a href="#mdlEditSubMenu" class="btnEditSubMenu btn btn-icon fuse-ripple-ready" data-toggle="modal" title="Editar" data-id="@item.IDPERMISOSXSUBMENU" data-id2="@item.IDPERMISOSMENU"><i class="icon icon-pencil s-4"></i></a>
                <a href="#mdlDelSubMenu" class="btnDelSubMenu btn btn-icon fuse-ripple-ready" data-toggle="modal" title="Borrar" data-id="@item.IDPERMISOSXSUBMENU"><i class="icon icon-trash s-4"></i></a>


</tr>

        }



    </tbody>
</table>
